header{
    background-color: #f3f3f3;
    padding: 15px;
}
ul.nav{
  &:before,&:after{
    display: table;
    content: ' ';
    clear: both;
  }
  li{
    float: left;
    background-color: #ccc;
    border: solid 1px #ddd;
    transition: background-color .4s ease;
    a{
      height: 100%;
      width: 100%;
      display: block;
      padding: 15px;
      color: #fff;
    }
    &:hover{
      background-color: #999;
    }
  }
}
